{
  "extends": "react-static/.babelrc",
  "env": {
    "production": {
      "plugins": [
        [
          "babel-plugin-styled-components",
          {
            "displayName": false
          }
        ]
      ]
    },
    "development": {
      "plugins": ["babel-plugin-styled-components"]
    }
  }
}
