
.page-projects {

	.meta {
		color: $text-muted;
		font-size: 0.85rem;
		font-weight: 100;
	}

	.repo-language-color {
		border-radius: 50%;
		display: inline-block;
		height: 12px;
		position: relative;
		top: 1px;
		width: 12px;
	}

}
