<!DOCTYPE html>
<html lang="{{site.locale}}">
{{>head}}

<body>
	<div class="container-fluid px-0">

		{{>header}}

		<main id="main" class="main" role="main" ui-view="main"></main>
		<script type="text/ng-template" id="partials/{{path}}/">
			<!-- BEGIN PARTIAL partials/{{path}}/index.html -->
			{{{contents}}}
			<!-- END PARTIAL -->
		</script>

		{{>footer}}
		
	</div>
</body>
</html>
